body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#pie {
  float: right;
}
.content {
  margin: 20px;
}
.footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  background-color: steelblue;
  font-size: 12px;
} 
h1{
  text-align: center;
  background-color: rgba(0, 191, 255, 0.226);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
